body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow: hidden;
}
#fullcanvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    image-rendering: crisp-edges;
}